<div layout="column" class="umn-section">
	<div class="inner-container">
        <div layout="row" layout-align="space-between stretch" class="header title umn-accent bg-color">
            <h1>{{sectionVm.section.name}}</h1>
            <h2>{{sectionVm.section.id}}</h2>
        </div>
        <div layout="row" layout-align="start center" class="info-box-container umn-white bg-color">
            <umn-info-box ib-icon="information.icon" ib-title="information.title" ib-content="information.content" ib-direction="'right'" ng-repeat="information in sectionVm.section.information track by $index"></umn-info-box>
        </div>
        <div layout="row" layout-align="start center" class="button-container umn-white bg-color">
            <umn-button title="'Add'" icon="'add_shopping_cart'" direction="'left'" class="umn-primary"></umn-button>
        </div>
    </div>
</div>