<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>UMN Course Registration</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Main Styles -->
    <link rel="stylesheet" href="~/Assets/Site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>

    <!-- Angular Material -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>

    <!-- App -->
    <script src="~/app/umn.module.js"></script>

    <!-- Layout -->
        <!-- Navigation -->
        <script src="~/app/layout/navigation/navigation.controller.js"></script>    
        <script src="~/app/layout/navigation/navigation.directive.js"></script>
        <link rel="stylesheet" href="~/app/layout/navigation/navigation.style.css" />

    <!-- Components -->
        <!-- umnButton -->
        <script src="~/app/components/umnButton/umnButton.controller.js"></script>
        <script src="~/app/components/umnButton/umnButton.directive.js"></script>
        <link rel="stylesheet" href="~/app/components/umnButton/umnButton.style.css" />

        <!-- umnDropdown -->
        <script src="~/app/components/umnDropdown/umnDropdown.controller.js"></script>
        <script src="~/app/components/umnDropdown/umnDropdown.directive.js"></script>
        <link rel="stylesheet" href="~/app/components/umnDropdown/umnDropdown.style.css" />

        <!-- umnInputDropdown -->
        <script src="~/app/components/umnInputDropdown/umnInputDropdown.controller.js"></script>
        <script src="~/app/components/umnInputDropdown/umnInputDropdown.directive.js"></script>
        <link rel="stylesheet" href="~/app/components/umnInputDropdown/umnInputDropdown.style.css" />

        <!-- umnCourse -->
        <script src="~/app/components/umnCourse/umnCourse.controller.js"></script>
        <script src="~/app/components/umnCourse/umnCourse.directive.js"></script>
        <link rel="stylesheet" href="~/app/components/umnCourse/umnCourse.style.css" />
</head>
<body ng-app="umn">
    @RenderBody()
    <footer>
        <p>&copy; @DateTime.Now.Year - Class Registration</p>
    </footer>
</body>
</html>
