html, body {
    margin: 0;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 1em;
}

md-content {
    background-color: unset;
}

.umn-primary,
.umn-primary * {
    outline: none;
    color: #7a0019;
    background-color: unset;
}

.umn-primary.bg-color {
    color: #ffcc33;
    background: #7a0019;
}

    .umn-primary.bg-color * {
        color: #ffcc33 !important;
    }

    .hover.umn-primary:hover,
    .hover.umn-primary:focus {
        background-color: #7a0019;
    }

    .hover.umn-primary:hover * {
        color: #ffcc33;
    }

    .hover.umn-primary:focus {
        outline: none;
        color: #7a0019;
        border-color: #7a0019;
    }

.umn-accent,
.umn-accent * {
    outline: none;
    color: #ffcc33;
    border-color: #ffcc33;
    background-color: unset;
}

    .umn-accent.bg-color {
        color: #7a0019;
        background-color: #ffcc33;
    }

        .umn-accent.bg-color * {
            color: #7a0019;
        }

.umn-white,
.umn-white * {
    outline: none;
    color: #F9F2DB;
    background-color: unset;
}

    .umn-white.bg-color {
        color: #7a0019;
        background-color: #F9F2DB;
    }

        .umn-white.bg-color * {
            color: #7a0019;
        }

.umn-button[disabled=disabled] {
    border-color: darkgray;
}


::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.5);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.5);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.5);
}

:-ms-input-placeholder {  
   color: rgba(255, 255, 255, 0.4);
}