.umnButton {
    border: none;
    border-radius: 1.5em;
    border: 0.12em solid;
    height: 3em;
    max-width: 3em;
    min-width: 3em;
    white-space: nowrap;
    transition: all 0.4s;
    overflow-x: hidden;
    background-color: unset;
}
    .umnButton, 
    .umnButton * {
        transition: max-width 0.4s;
    }

        .umnButton div:first-child {
            /*margin: 0 0.4em;*/
        }

    .umnButton span {
        display: none;
    }

    .umnButton:hover,
    .umnButton:active,
    .umnButton:focus {
        max-width: 10em;
    }

        .umnButton:hover span,
        .umnButton:active span,
        .umnButton:focus span {
            display: inline-block;
        }