.umnButton {
    border: none;
    border-radius: 1.5em;
    border: 0.12em solid;
    height: 3em;
    max-width: 3em;
    width: auto;
    padding: 0.4em 0.7em;
    white-space: nowrap;
    transition: max-width 0.3s, color 0.3s, background-color 0.3s, border-color 0.3s;
    overflow-x: hidden;
    background-color: unset;
}

    .umnButton:hover i.left {
        margin-left: 0.4em;
    }

    .umnButton:hover i.right {
        margin-right: 0.4em;
    }

    .umnButton span {
        display: none;
    }

    .umnButton:hover,
    .umnButton:focus {
        max-width: 10em;
    }

        .umnButton:hover span,
        .umnButton:focus span {
            display: inline-block;
        }

    .umnButton:not(:last-child) {
        margin-right: 0.4em;
    }