<button ng-mouseover="buttonVm.show = true" ng-mouseleave="buttonVm.show = false" class="umnButton umn-primary">
    <div ng-if="buttonVm.direction == 'left'" layout="row" layout-align="end center">
        <div ng-if="buttonVm.show" layout="column" layout-align="start center">
            <span>{{buttonVm.title}}</span>
        </div>
        <i class="material-icons left">{{buttonVm.icon}}</i>
    </div>
    <div ng-if="buttonVm.direction == 'right'" layout="row" layout-align="start center">
        <i class="material-icons right">{{buttonVm.icon}}</i>
        <div ng-if="buttonVm.show" layout="column" layout-align="start center">
            <span>{{buttonVm.title}}</span>
        </div>
    </div>
</button>