.umn-course {
    margin: 2em auto;
    margin-bottom: 5em;
    max-width: 750px;
}

    .umn-course .information {
        position: relative;
        border: 0.15em solid ;
    }

    .umn-course .sections {
        margin-left: 1em;
    }

    .umn-course .sections .umn-section:first-child {
        margin-top: 2em;
    }

    .umn-course .sections .umn-section:not(:first-child) {
        margin-top: 3em;
    }

    .umn-course .header {
        padding: 0 1em;
        height: 4em;
    }
        
        .umn-course .header h1 {
            margin-right: 0.4em;
        }

        .umn-course .header h2 {
            font-weight: 100;
        }

        .umn-course .credits {
            border-left: 1px solid;
            padding-left: 1em;
            text-align: center;
        }

    .umn-course .content-container {
        padding: 1.2em;
    }

    .umn-course .button-container {
        position: absolute;
        right: 1em;
        bottom: -1.5em;
        height: 3em;
        padding: 0.4em;
    }