.umn-course {
    position: relative;
    margin: 2em auto;
    border: 0.15em solid;
    max-height: 400px;
    max-width: 750px;
}

    .umn-course:not(:first-child) {
        margin-top: 3em;
    }

    .umn-course .header {
        padding: 0 1em;
        height: 4em;
    }
        
        .umn-course .header h1 {
            margin-right: 0.4em;
        }

        .umn-course .header h2 {
            font-weight: 100;
        }

        .umn-course .credits {
            border-left: 1px solid;
            padding-left: 1em;
            text-align: center;
        }

    .umn-course .content-container {
        padding: 0 1em;
        margin-bottom: 1.5em;
    }

    .umn-course .info-box-container {
        position: absolute;
        left: 1em;
        bottom: -1.5em;
        height: 3em;
        padding: 0.4em;
    }

    .umn-course .button-container {
        position: absolute;
        right: 1em;
        bottom: -1.5em;
        height: 3em;
        padding: 0.4em;
    }